header {
    background: rgb(131, 166, 0);
    /* position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0%;
    left: 0%;
    right: 0%; */
}
.cont-img {
    width: 190px;
    height: 100px;
}
.cont-img img {
    width: 100%;
}
.navbar {
    height: 90px;
}
.search input {
    height: 27px;;
}