<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 slogan">
        <img src="http://www.sisnet360.com/media/img/logo-everis.png" alt="">
        <h1>Plataforma</h1>
      </div>
      <!-- <div class="col-6"></div>
      <div class="col-6"></div> -->
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row box-button">
      <div class="col-12 text-center">
        <button class="btn btn-lg">LOGIN</button>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-lg">SINGUP!</button>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">footer</div>
    </div>
  </div>
</footer>

<!-- <app-main></app-main> -->
<!-- <app-login></app-login> -->



