<div class="movie-wrapper" >
  <div class="search">
      <input type="text" placeholder="Film arayın..." (keyup.enter)="GetMovies(f.value)" #f>
      <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div>
    <figure>
        <img src="http://www.rrhhdigital.com/userfiles/everis-consejo-directivo.jpg" alt="img">
    </figure>
  </div>
  <div class=" card cont-public mt-3" >
    <div class="p-2">
     <div class="cont-post pl-2">
      <p> <i class="fas fa-user-alt"></i>{{name}}</p>
      <p>{{project}}</p>
    </div>
      <div>
        <i class="far fa-comment-alt" (click)="inpuText()">Comentar</i>
      </div>
    </div>
     <div class="p-2">
            <input class="form-control " type="text">
     </div>
  </div>
  
</div>
<!-- <div>
        <ul ngFor="let todo of todos">
            <li>hola</li>
            <li>{{todo.label}}</li>
        </ul>
    </div> -->
